:root {
  --darkModeColor: #424242;
  background-color: #424242;
  background-color: var(--darkModeColor);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
  
.light-mode {
  background-color: white;
  color: black;
}
  
.dark-mode {
  background-color: var(--darkModeColor);
  color: white;
}
  
button {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

h1.red {
  color: red;
  display: inline;
  font-size: 2rem;
}

div.navBar {
  background-color: #424242;
  display: flex;
  padding: 0 4%;
}

.navButton {
  border: none;
  color: rgb(175, 174, 174);
  background-color: transparent;
  font-size: small;
  opacity: 0.6;
  transition: 0.3s;
}

.navButton:hover {
  color: white;
  opacity: 1;
}

.completeList {
  padding: 3vw 0;
}

.movieList {
  display: grid;
  gap: 1%;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.movieListH1 h1 {
  font-size: 1.5rem;
}

.movieList button {
  height: min-content;
  position: absolute;
  align-self: center;
  opacity: 0;
  transition: 0.3s;
}

.movieList button:hover {
  opacity: 1;
}

.ScrollLeftButton {
  left: 0;
}

.ScrollRightButton {
  right: 0;
}

.movieThumb {
  display: inline;
  width: 100%;
  scroll-snap-align: start;
}

.movieThumb img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
